@using PureRide.Web.Controllers.Credits
@model PureRide.Web.ViewModels.Credits.BillingAddressModel
@{this.RetrieveModel();}

@using (Html.BeginUmbracoForm<BillingAddressController>("FormSubmit"))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationMessageFor(m => m.Address1)
    @Html.LabelFor(m => Model.Address1)
    <input type="text" required name="Address1" id="Address1" autocomplete="address-line1" value="@Model.Address1" autofocus maxlength="@SagePay.Constants.AddressLineMaxLength" />

    @Html.ValidationMessageFor(m => m.Address2)
    @Html.LabelFor(m => Model.Address2)
    <input type="text" name="Address2" id="Address2" autocomplete="address-line2" value="@Model.Address2" maxlength="@SagePay.Constants.AddressLineMaxLength" />

    @Html.ValidationMessageFor(m => m.City)
    @Html.LabelFor(m => Model.City)
    <input type="text" required name="City" id="City" autocomplete="address-level1" value="@Model.City" maxlength="@SagePay.Constants.CityMaxLength" />

    @Html.ValidationMessageFor(m => m.County)
    @Html.LabelFor(m => Model.County)
    <input type="text" required name="County" id="County" autocomplete="province" value="@Model.County" maxlength="20" />

    @Html.ValidationMessageFor(m => m.Country)
    @Html.LabelFor(m => Model.Country)
    <input type="text" readonly required name="Country" id="Country" autocomplete="country" value="United Kingdom" />

    @Html.ValidationMessageFor(m => m.PostCode)
    @Html.LabelFor(m => Model.PostCode)
    <input type="text" required name="PostCode" id="PostCode" autocomplete="postal-code" value="@Model.PostCode" maxlength="@SagePay.Constants.PostCodeMaxLength" />

    <input type="submit" value="Next" class="btn btn--primary" />
}

<a href="#">Address Lookup</a>