@using PureRide.Web.Controllers.Account
@model PureRide.Web.ViewModels.Account.ResetPasswordModel
@{this.RetrieveModel();}

@using (Html.BeginUmbracoForm<ResetPasswordController>("FormSubmit"))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationMessageFor(m => m.Token)

    <input type="hidden" name="token" value="@Model.Token"/>
    <input type="hidden" name="pid" value="@Model.PID" />

    @Html.ValidationMessageFor(m => m.NewPassword)
    @Html.LabelFor(m => Model.NewPassword)
    <input type="password" name="NewPassword" required id="NewPassword" autocomplete="off" maxlength="@Exerp.Api.Constants.MaxLengthPassword" />

    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)  
    @Html.LabelFor(m => Model.ConfirmNewPassword)
    <input type="password" name="ConfirmNewPassword" required id="ConfirmNewPassword" autocomplete="off" maxlength="@Exerp.Api.Constants.MaxLengthPassword" />

    <input class="btn btn--primary" type="submit" value="Update Password" /><a class="btn btn--secondary" href="/forgottenpassword/">Request New Token</a>
}