@inherits UmbracoViewPage<RenderModel<PureRide.Web.ViewModels.Account.CreditHistoryModel>>
@{
    Layout = "_LayoutContentPage.cshtml";
}

@section PageTitle{@Umbraco.Field("PageTitle").ToHtmlString()}

@Html.Raw(Umbraco.Field("bodyText").ToHtmlString())

<h2>@Html.Raw(@Umbraco.Field("ActiveCreditPackTitle"))</h2>
<p>@Umbraco.Field("ActiveCreditPackText")</p>

<ul>
    @foreach (var card in Model.PureRide.ActiveClipCards)
    {
        <li>
            <h2>@card.ClipcardTypeName</h2>
            <p>Credits: @card.ClipsInitial</p>
            <p>Remaining: @card.ClipsLeft</p>
            <p>Valid For: @card.Region</p>
            <p>Expires: @card.ValidUntilDate</p>
        </li>
    }
</ul>


<h2>@Html.Raw(@Umbraco.Field("ExpiredCreditPackTitle"))</h2>

<p>@Umbraco.Field("ExpiredCreditPackText"))</p>

<ul>
    @foreach (var card in Model.PureRide.InActiveClipCards)
    {
        <li>
            <h2>@card.ClipcardTypeName</h2>
            <p>Credits: @card.ClipsInitial</p>
            <p>Remaining: @card.ClipsLeft</p>
            <p>Valid For: @card.Region</p>
            <p>Expires: @card.ValidUntilDate</p>
        </li>
    }
</ul>