@inherits UmbracoViewPage<RenderModel<PureRide.Web.ViewModels.Location.LocationModel>>
@{
    Layout = "_LayoutContentPage.cshtml";
    ViewBag.Title = string.Concat(Model.PureRide.Name," Studio Map");
}


@section PageTitle{@Model.PureRide.Name}
@section OutSideContainer{
    <div id="map-canvas" class="map-canvas"></div>
}


<div>@Model.PureRide.AddressLine1</div>
<div>@Model.PureRide.AddressLine2</div>
<div>@Model.PureRide.AddressLine3</div>
<div>@Model.PureRide.Postcode</div>

<div>@Model.PureRide.PhoneNumber</div>
<div>@Model.PureRide.Email</div>

    <a href="/@Model.PureRide.Name.ToStudioSlug()/credits/">Buy Credits</a>
    <a href="/@Model.PureRide.Name.ToStudioSlug()/classes/">Find Classes</a>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        var map;

        function initialize() {

            var studioLocation = { lat: @Model.PureRide.Latitude, lng: @Model.PureRide.Longitude };
            map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: 15,
                center: studioLocation
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: studioLocation
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
